---
import "../styles/global.css";
---

<footer class="w-full bg-sec-bg text-ter-fg px-8 py-6 flex justify-between text-sm">
  <div>
    &copy; {new Date().getFullYear()} Wobble. All rights reserved.
  </div>
  <div>
    <a
      href="https://github.com/s3nthi/wobble"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
    >
      Source Code
    </a>
  </div>
</footer>
