---
import "../styles/global.css";
---
<div class="flex flex-col gap-4">
    <p class="text-lg">
        Compete against the bot in a game!
    </p>
    <p>
        TODO: 2 grids. bot's grid hidden by blur
    </p>
</div>

<style>
    p {
        @apply text-center;
    }
</style>