---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About - Wobble">
  <h1>About Wobble</h1>
  <p>We&apos;re huge fans of Wordle, and what fascinated us most was the problem-solving process behind the game. We got to thinking about optimal ways to solve it and that led us to explore the game from a new perspective.</p>
  <p>With Wobble, the roles are reversed. The user chooses a secret word (or picks one at random from a list), and the system takes on the challenge of solving it.</p>
</MainLayout>
