---
import WobbleText from "../components/WobbleText.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="How It Works? - Wobble">
  <h1 class="md:flex gap-4 mx-auto">
    How does<span class="text-3xl">
      <WobbleText />
    </span>
    work?
  </h1>

  <p class="text-center">TODO: methodology of the model</p>
</MainLayout>
