---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="How It Works? - Wobble">
  <h1>How does Wobble work?</h1>
  <p class="text-center">TODO: methodology of the model</p>
</MainLayout>
