---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";

import PlayAgainst from "../components/PlayAgainst.astro";
import TestBot from "../components/TestBot.astro";
---

<MainLayout title="Wobble">
  <div
    id="mode-switcher"
    class="my-8 mx-auto flex flex-col items-center justify-center gap-4 md:flex-row"
  >
    <label class="cursor-pointer">
      <input
        type="radio"
        name="mode"
        value="play"
        checked
        class="sr-only peer"
      />
      <span
        class="px-6 py-2 h-10 rounded-full font-semibold transition-all duration-300 peer-checked:bg-sec-bg peer-checked:text-fg text-ter-fg peer-checked:shadow-sm"
      >
        Play against the bot
      </span>
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="mode" value="test" class="sr-only peer" />
      <span
        class="px-6 py-2 h-10 rounded-full font-semibold transition-all duration-300 peer-checked:bg-sec-bg peer-checked:text-fg text-ter-fg peer-checked:shadow-sm"
      >
        Test the bot
      </span>
    </label>
  </div>

  <div id="mode-content" class="my-8">
    <div id="play-section">
      <PlayAgainst />
    </div>
    <div id="test-section" style="display: none;">
      <TestBot />
    </div>
  </div>

  <script type="module">
    const switcher = document.getElementById("mode-switcher");
    const playSection = document.getElementById("play-section");
    const testSection = document.getElementById("test-section");

    if (switcher && playSection && testSection) {
      switcher.addEventListener("change", (e) => {
        const target = e.target;
        if (target instanceof HTMLInputElement && target.name === "mode") {
          if (target.value === "play") {
            playSection.style.display = "block";
            testSection.style.display = "none";
          } else if (target.value === "test") {
            playSection.style.display = "none";
            testSection.style.display = "block";
          }
        }
      });
    }
  </script>
</MainLayout>
