---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";

import ModeSwitcher from "../components/ModeSwitcher";
---

<MainLayout title="Wobble">
  <div class="my-8">
    <ModeSwitcher client:visible/>
  </div>
</MainLayout>

